/*FORMATAÇÃO PADRÃO DA TELA*/
*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: white;
    color: black;
}

main{
    display: flex;    
}

/*ESTILO DO CONTAINER DA IMAGEM*/
.container-img{
    width: 62%;
    height: 1080px;
}

.container-img img{
    width: 100%;
    height: 100%;
}

/*ESTILO DO CONTAINER DO FORMULÁRIO*/
.container-form{
    width: 38%;
    height: 1080px;
    background-color:white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin: 50px 0px 30px 0px;
}

h2{
    font-size: 30px;
    margin: 0px 0px 30px 0px;
}

label{
    margin: 20px 0px 30px 0px;
}

/*ESTILO DOS INPUT:TEXT*/
input{
    background-color: rgb(40, 40, 40);
    color: white;
    width: 380px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

/*FORMATAÇÃO DO PLACEHOLDER DOS INPUT:TEXT*/
::-webkit-input-placeholder  {
     font-size: 18px;
     font-weight: bold;
     font-style: italic;
     font-family: 'Raleway', sans-serif;
}

/*ESTILO DOS SPANS COM SEUS ÍCONES SOBRE OS CAMPOS DE TEXTO*/
span{
    position: relative;
}

input:invalid + span::before{
    content: '✖';
    color: red;
}

input:valid + span::before{
    content: '✓';
    color: green;
}

input:focus{
    box-shadow: 0 0 0 0 ;
    outline: 0;
}

/*ESTILO DOS BOTÕES*/
.botao-1 , .botao-2{
    height: 60px;
    padding: 12px 0px 12px 0px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
}

.botao-1{
    background-color: rgb(103,58,183);
    border: none;
}

.botao-2{
    background-color: white;
    color: black;
    border: solid 1px black;
}

button{
    padding: 12px 0px 12px 0px;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    width: 380px;
    height: 60px;
    border-radius: 6px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 0px 30px 0px 0px;
    border: 1px solid black;
}

/*ANIMAÇÕES DOS BOTÕES*/
.botao-2:hover, .botao-1:hover, button:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

/*FORMATAÇÃO DO FOOTER DA PÁGINA*/
.copyright{
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
}

/*FORMATAÇÃO DO GRADIENTE QUE FICA EM CIMA DA IMAGEM*/
.gradiente{
    margin-top: -1141px;
    background-image:
    linear-gradient(to bottom, rgba(60, 9, 108, 0.52), rgba(103, 58, 183, 0.73),blueviolet);
    width: 62%;
    height: 1080px;
    background-size: cover;
    position: absolute;
}